@import '../../../styles/settings.scss';

.pagination {

  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 22px;

    &__item {
      display: block;
      width: $base-size * 2;
      height: $base-size * 2;
      margin: $base-size;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: .2s;
      color: $color-text-bright;

      &:hover {
        color: $color-text;
      }

      &--active {
        color: $color-text;
      }
    }

  }
}