@import '../../../styles/settings.scss';

.footer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	font-size: 16px;
	padding: 15px 15px 0 15px;

	a {
		color: $color-text;
	}

	p {
		color: #bcbcbc;
	}
}

@media(max-width: 575px) {
	.footer {
		.main-menu {
			display: none;
		}
	}
}

@media(min-width: 576px) {
	.footer {	
		.main-menu {
			display: flex;
		}
	}
}