@import '../../../styles/settings.scss';

.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  
  a:hover {
    color: $color-text;
  }

  li {
    margin: 0 $base-size;
  }

}