@import '../../../styles/settings.scss';

.priceSection {
	margin-top: 100px;

	p {
		display: flex;
		color: $color-text;
		text-transform: uppercase;
		margin: 20px 0 0 0;
		justify-content: flex-end;
	}

	.buttonPosition {
		display: flex;
		justify-content: flex-end;
		margin-top: 40px
	}

	.pay {
		padding: 10px 90px;
		font-size: 20px;
		background-color: $color-text;
		border: 1px solid $color-text;
		color: $color-background;
		margin: 0;
		outline: none;
		&:hover {
			background-color: $color-background;
			color: $color-text;
		}
	}

}